.paginated-btn{
    display: flex;
    align-items: center;
    margin: 5px;
}


.first-page,
.previous-page,
.next-page,
.last-page {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}


.btn{ 
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border:1px solid #c3c3c3;
}

.pagination{
    display: flex;
}


.numbers{
    width: 40px;
    height: 40px;
    padding: 3px;
    font-size: 20px;
    margin-left: 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
}

.active{
    border: 1px solid black;
}

.btn[disabled]{
    cursor: not-allowed;
}


@media (max-width: 470px) {
    .btn {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    .numbers {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

