.search-field{
    border: 1px solid #c3c3c3;
    padding: 10px 10px;
    width: 70%;
    border-radius: 10px;
}

.search-icon{
    width: fit-content;
    border: 1px solid #c3c3c3;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}