
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 5px;
  }
  
  .pagination-container {
    display: flex;
    align-items: center;
  }

@media (max-width:768px){
    .footer{
        flex-direction: column;
    }
}

@media (max-width:768px){
    .pagination-container > p{
        display: none;
    }
}